<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

    @await Html.PartialAsync("~/Themes/Metronic/Components/Header/_HeaderMenu.cshtml")
    @await Html.PartialAsync("~/Themes/Metronic/Components/Header/_HeaderTopBar.cshtml")

</div>

<!-- end:: Header -->